# Dependencies
node_modules/
package-lock.json

# Build outputs
dist/
/*.tgz

# Environment variables
.env*
*.env

# IDE specific
.vscode/
.idea/
*.swp
*.swo
*~

# Chrome extension specific
manifest.json